<!DOCTYPE html>
<html lang="en">
  <head>
    <title>OTT: {% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <!-- My stylesheet -->
    <link href="static/css/signup.css" rel="stylesheet"/>
  </head>

  <body>
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">Home</a></li>
            {% if name_var and dashed %}
              <li role="presentation"><a href="/plan">Plan An Event</a></li>
              <li role="presentation"><a href="/logout">Log Out</a></li>
            {% elif name_var %}
              <li role="presentation"><a href="/logout">Log Out</a></li>
            {% else %}
              <li role="presentation"><a href="/login">Sign In</a></li>
              <li role="presentation"><a href="/signup">Register</a></li>
            {% endif %}
          </ul>
        </nav>
        <h3 class="text-muted">On The Town: Social Planning</h3>
      </div>

      <main class="container p-5">
            {% block main %}{% endblock %}
      </main>

      <footer class="footer">
        <p>&copy; DooLouGulu 2018</p>
      </footer>

    </div>
  </body>
</html>
