{% extends "layout.html" %}

{% block title %}
  Sign In
{% endblock %}

{% set name_var = name %}

{% block main %}
      <div class="jumbotron">
        <h2>On The Town</h2>
        <h4>Sign in to your account:</h4>
        <form class="form-signin" action="/login" method="post">
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>

        {% if error_msg %}
          <p>{{ error_msg }}</p>
        {% endif %}
        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
      </form>
      </div>
{% endblock %}
